Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4

AlignAfterOpenBracket: Align

AlignConsecutiveAssignments: false

AlignConsecutiveDeclarations: false

AlignEscapedNewlines: Right

AlignOperands: Align

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Never

AllowShortCaseLabelsOnASingleLine: false

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: false

AllowShortLoopsOnASingleLine: false

BreakAfterReturnType: None

AlwaysBreakBeforeMultilineStrings: false

BreakTemplateDeclarations: Yes

BinPackArguments: true

BinPackParameters: true

BreakBeforeBinaryOperators: None

BreakBeforeBraces: Allman

BreakBeforeTernaryOperators: false

BreakConstructorInitializers: BeforeComma

BreakStringLiterals: false

ColumnLimit: 100

CompactNamespaces: true

PackConstructorInitializers: BinPack

ConstructorInitializerIndentWidth: 4

ContinuationIndentWidth: 4

Cpp11BracedListStyle: true

DerivePointerAlignment: false

FixNamespaceComments: true

IndentCaseLabels: false

IndentPPDirectives: None

IndentWidth: 4

IndentWrappedFunctionNames: false

MaxEmptyLinesToKeep: 1

NamespaceIndentation: None

PointerAlignment: Right

ReflowComments: false

SortIncludes: Never

SortUsingDeclarations: LexicographicNumeric

SpaceAfterCStyleCast: false

SpaceAfterTemplateKeyword: true

SpaceBeforeAssignmentOperators: true

SpaceBeforeParens: ControlStatements

SpaceInEmptyParentheses: false

SpacesBeforeTrailingComments: 1

SpacesInAngles: false

SpacesInCStyleCastParentheses: false

SpacesInContainerLiterals: true

SpacesInParentheses: false

SpacesInSquareBrackets: false

Standard: c++20

TabWidth: 4

UseTab: Never

EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never

KeepEmptyLinesAtTheStartOfBlocks: false
