[submodule "FreeCM"]
	path = FreeCM
	url = https://github.com/NorthBoundWisdom/FreeCM.git
	branch = master
[submodule "src/tests/integration"]
	path = src/tests/integration
	url = https://github.com/darktable-org/darktable-tests.git
[submodule "src/external/LibRaw"]
	path = src/external/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "src/external/lua-scripts"]
	path = src/external/lua-scripts
	url = https://github.com/darktable-org/lua-scripts.git
